.movie_list{
    display:flex;
    flex-wrap: wrap;
}
.movie_card{
    width: 600px;
    background: #2b2b2b;
    color: #a8a8a8;
    border: 1px solid #404040;
    padding: 15px;
}
.movie_card h2:hover, .movie_card a:hover{
    transition: .3s;
    color: #dd4b39;
}
.movie_title{
    color: #e0dfdc;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
    max-width: auto;
}
.movie_poster{
    padding-right: 20px;
}
.rating_stars{
    color: gold;
    font-size: 25px;
    padding-bottom: 10px;
}
.content{
    display:flex;
}
.parameter{
    font-weight: bold;
    color: #a8a8a8;
}
.movie_description{
    margin-top: 30px;
}
*{
    box-sizing: border-box;
}
a{
    color: #e0dfdc;
}


/* <------  movie page  -------> */
.movie_page{
    width: 100%;
    background: #2b2b2b;
    color: #a8a8a8;
    border: 1px solid #404040;
    padding: 15px;
}
.movie_about{
    border: 1px solid #393737;
    background: #222;
    padding: 10px 15px;
    line-height: 18px;
    margin-top: 20px;
}
.movie_trailer{
    margin: 40px 0 0 260px;
}

/* <------  header  -------> */
.header{
    background: #2b2b2b;
    color: #a8a8a8;
    border: 1px solid #404040;
}
.header-main{
    padding: 20px 40px ;
    color: #e0dfdc;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 15px;
    max-width: auto;
}

/* <------  Add movie form  -------> */

.add-form{
    display:flex;
    flex-direction: column;
    padding: 20px;
}
